/* base CSS */

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

}

html, body {
  padding: 0;
  margin: 0;

}

body {
    color: #212121;
    font: 90%/1.55 'Open Sans Condensed', sans-serif;
    background: #fff /*url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC" fill-opacity="0.1"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E') repeat left top*/;
    padding: 10px;

}

/* Basic elements */

h1 {
    font-family: 'Lobster', cursive, sans-serif;
    text-align: center;
    transform: rotate(-7deg);
    margin: 0;
    padding: 0;

}

h1 span {
  font-size: 35px;

}

.red {
  color: #EA4335;

}

.green {
  color: #34a852;

}

.blue {
  color: #448aff;

}

h2 {
    font-size: 15px;
    margin-top: 15px;
    padding: 15px 0 10px;
    border-top: 2px solid #ebebeb;

}

h2:first-of-type {
    margin-top: 30px;

}


.blink  {
    font-size: 15px;
    animation: 1s step-end 0s normal none infinite running cursor-blink;

}

@keyframes cursor-blink {
  0%, 100% {
      opacity: 0;
  }
  50% {
    opacity: 1;
  }

}

table,
tr,
td {
    border: 1px solid #ebebeb;

}

table {
    border-collapse: collapse;

}

tr {
    height: 15px;

}

td {
    width: 15px;
    height: 15px;

}

input[type=number] {
    width: 64px;

}

input {
  margin-bottom: 15px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid #9B9B9F;
  background-color: #fff;
  vertical-align: top;

}

#colorPicker {
    padding: 0 10px;
    height: 28px;

}

.btn {
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid #448aff;
  vertical-align: top;

}

.btn:hover {
  border: 2px solid #3367BF;

}

#btn_submit {
  color: #fff;
  background-color: #448aff;

}

#btn_reload,
#btn_clear {
  color: #448aff;
  background-color: #fff;

}

#btn_submit:hover,
#btn_reload:hover,
#btn_clear:hover  {
  color: #fff;
  background-color: #3367BF;

}

/* Layout */

header {
  position: relative;
  float: left;
  padding: 15px;
  width: 270px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.26);

}

.container {
  display: none;
  position: relative;
  float: left;
  margin: 10px 0 0 30px;
  padding: 15px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.26);
  background-color: #fff;

}

form,
#colorDiv {
  padding-left: 30px;

}
