/* basic browser reset */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

}

/* base CSS */
body {
  font: 90%/1.55 'Lato', sans-serif;
  color: #fff;
  text-shadow: 0 0 0.31em #000;
  background: #000 url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;

  padding: 5px;

}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;

  margin-bottom: 5px;

}

h1 {
  font-size: 2.2em;
  letter-spacing: 3px;
  color: #fff;
  background-color: #252525;
  margin: 3px 3px 0 3px;
  padding: 10px;
  float: right;
  display: inline-block;

}

.red {
  text-transform: lowercase;
  color: #EA3D2C;

}

h2 {
  font-size: 1.0em;

}

h3 {
  font-size: 0.9em;
}

.howTo {
  font-weight: bold;
  text-transform: uppercase;
  color: #EA3D2C;

}

table,
tr,
td {
    border: 1px solid #d6d6d6;

}

table {
    border-collapse: collapse;

}

tr {
    height: 15px;

}

td {
    width: 15px;
    height: 15px;

}

td:hover {
  box-shadow: inset 0 0 5px rgba(125, 125, 125, 0.5);

}

.clear {
  clear: both;

}

/* Form and Input Elelemtns */

label {
  display: inline-block;
  width: 45%;
  margin: 0 5px 5px 0;
  padding: 0;

}

input[type=number],
.input {
    text-transform: uppercase;
    background-color: #d6d6d6;
    border: 2px solid #d6d6d6;
    margin: 0 5px 5px 0;
    width: 45%;
    height: 30px;

}

.btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #252525;
  padding: 5px 10px;
  border: 2px solid #d6d6d6; /* 1px solid  #448aff;*/
  border-radius: 1rem;
  vertical-align: top;
  width: 30%;
  height: 30px;
  cursor: pointer;

}

.btn:hover {
  color: #252525;
  background-color: #d6d6d6;
  border: 1px solid #d6d6d6;

}

.first {
  margin: 0 3% 0 12%;
}

.second {
  margin: 0 12% 0 3%;
}

/* content elements */

header {
  min-width: 200px;

}
.flexbox {
	position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

}

.flexbox .col {
  flex: 1;
  margin: 3px;
  padding: 15px;
  background-color: #252525;

}
.flexbox .col:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}
.flexbox .col:nth-child(2) {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;

}
.flexbox .col:nth-child(3) {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;

}

#container {
  clear: both;
  display: none;
  position: relative;

}

#pixel_canvas {
  background-color: #fff;
  margin: 15px auto;

}

footer {
  background-color: #252525;
  margin: 0 3px 0;
  padding: 5px 10px;

}

img {
  display: block;
  background-color: #fff;
  margin: 15px auto;

  }
