/* basic browser reset */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

}

/* base CSS */
body {
  font: 90%/1.75 'Lato', sans-serif;
  color: #999;
  text-shadow: 0 0 0.31em #000;
  background: #000; /*#332F2E;*/
  background-size: cover;
  padding: 9px;

}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 5px;

}

h1 {
  margin: 3px 3px 9px 3px;
  padding: 10px 10px;
  float: right;

  color: #000;
  background: #fff;
  text-shadow: none;

}

.red {
  text-transform: lowercase;
  color: #ea3d2c;

}


.howTo {
  font-weight: bold;
  text-transform: uppercase;
  color: #3cf;
  margin-right: 5px;

}

p { margin: 0;

}

footer p {
  font-size: 0.9em;

}

table,
tr,
td {
    border: 1px solid #d6d6d6;

}

table {
    border-collapse: collapse;

}

tr {
    height: 15px;

}

td {
    width: 15px;
    height: 15px;

}

td:hover {
  box-shadow: inset 0 0 5px rgba(125, 125, 125, 0.3);

}

/* helper classes */

.clear {
  clear: both;

}

.first {
  margin: 0 4% 0 13%;
}

.second {
  margin: 0 13% 0 4%;
}

/* Form and Input Elelemtns */
form {
  margin-bottom: 10px;

}

label {
  display: inline-block;
  width: 45%;
  margin: 0 5px 5px 0;
  padding: 0;

}

input[type=number],
.input {
    text-transform: uppercase;
    background-color: #fff;
    border: 2px solid #ccc;
    margin: 0 5px 5px 0;
    width: 45%;
    height: 30px;

}
.btn {
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  border-radius: 100px;
  vertical-align: top;
  width: 32%;
  height: 30px;
  cursor: pointer;

}

header .btn {
  background: transparent;
  border: 2px solid #d6d6d6;


}

header .btn:hover {
  color: #252525;
  background-color: #d6d6d6;
  border: 2px solid #d6d6d6;

}

#container .btn {
  background: #1473e6;
  border: 2px solid #1473e6;


}

#container .btn:hover {
  color: #fff;
  background-color: #005abe;
  border: 2px solid #005abe;

}

/* content elements */

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

}

header {
  min-width: 200px;

}
.flexbox {
	position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;

}

.flexbox .col {
  flex: 1;
  margin: 3px;
  padding: 15px;
  min-width: 250px;

}

header.flexbox .col {
  background: #252525;

}

.flexbox .col:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}
.flexbox .col:nth-child(2) {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;

}
.flexbox .col:nth-child(3) {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;

}

#container {

  display: none;
  position: relative;
  width: 100%;
  margin: 0 auto;

}

.wrap {
  margin: 0 auto;
  padding: 15px;

}

#pixel_canvas {
  background-color: #fff;
  margin: 0 auto;

}

footer {
  margin: 9px 3px 12px;
  padding: 15px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;

}

img {
  display: block;
  background-color: #fff;
  margin: 0 auto;

}
